* {
  padding: 50;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  transition: all 0.5s ease;
}

body {
  font-family: "Times New Roman", Times, serif;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  background-image: linear-gradient(to bottom left, #451852, #f39f5a);
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.calculator {
  position: relative;
  height: 620px;
  width: 330px;
  /* padding: 20 px; */
  border-radius: 20px;
  box-shadow: 0 0 30px #e8bcb9;
  display: grid;
  place-content: center;
}

.theme-toggler {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}

.theme-toggler.active {
  color: #e4dbdb;
}

.theme-toggler.active::before {
  background-color: #fff;
}

.theme-toggler::before {
  content: "";
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #ebe1e1;
  z-index: -1;
}

#display {
  margin: 0 10px;
  height: 150px;
  width: auto;
  max-width: 270px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 30px;
  margin-bottom: 20px;
  overflow-x: scroll;
}

#display::-webkit-scrollbar {
  display: block;
  height: 3px;
}

button {
  height: 60px;
  width: 60px;
  border: 0;
  border-radius: 25px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: all 200ms ease;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px rgb(234, 243, 217);
}

button#equal {
  height: 130px;
}

/*light theme*/

.calculator {
  /* background-color: white */
  color: #edecf7;
}
.calculator #display {
  color: #f4f4f7;
}

.calculator button#clear {
  background-color: #ebb0bb;
  color: #f1ebeb;
}

.calculator button.btn-number {
  background-color: #b8b696;
  color: #f8f5f5;
}

.calculator button.btn-operator {
  background-color: #ebe7e7;
  color: #8a3a3a;
}

.calculator button.btn-equal {
  background-color: rgb(163, 197, 125);
  color: rgb(245, 242, 242);
}

/*dark theme*/

.calculator.dark {
  background-color: #3d363d;
}

.calculator.dark #display {
  color: #fff;
}

.calculator.dark button#clear {
  background-color: #b9afaf;
  color: #fff;
}

.calculator.dark button.btn-number {
  background-color: #575656;
  color: #fff;
}

.calculator.dark button.btn-operator {
  background-color: #7e7e7e;
  color: #fff;
}

.calculator.dark button.btn-equal {
  background-color: #4b4b4b;
  color: #fff;
}
